/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
}

input[type="file"] {
    display: none;
}

label {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

input[type="file"]:hover + label {
    background-color: #2980b9;
}

button {
    background-color: #2ecc71;
    color: #fff;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #27ae60;
}
